<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <script>
    </script>
</head>
<body>
    <div id="profile">
        <h1>이름 : {{ member['name'] }}</h1>
        <h1>블로그 주소 : {{ member['blog'] }}</h1>
        <h1>MBTI : {{ member['mbti'] }}</h1>
    </div>
    <div>
        <li>
            <a href="/update/{{ member_id['_id'] }}">수정</a>
            <a href="/">목록</a>
        </li>
    </div>
</body>

</html>